@font-face {
	font-family: 'Garamond';
	src: local('Garamond'), url('Garamond.ttf') format('truetype');
}
#graph_wrapper_div{
	position: relative;
	width:400px;
	height:275px;
}
#graph_div {
  position: absolute;
	  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}
#main-area {
    background-image: none;
    background: gray;
}
#map-canvas {
	width: 100%;
	min-height: 65vh;
	margin-bottom:1em !important;
	margin-top: 0.0em !important;
}
#dosimeter_list {
	padding: 0.5em;
	margin-left: 1em;
	width: 100%;
}
.div {
	vertical-align: middle;
}
#my_banner {
		padding-top:15px;
		padding-bottom:15px;
		padding-right:20px;
		padding-left:20px;
		background:#5b6770;
		font-size:16px;
		line-height:150% !important;
		color: white;
		border-radius: 15px;
		border-color: #d19000;
		border-width: 3px;
		border-style: solid;
	margin-bottom: 1em;
	}
.jh5 {
	padding: 0.5em 0 0 0;
	font-size: 2em;
	text-align: center;
}
.jh2 {
	font-size: 3em;
}
.jp {
	padding: 1vw;
	font-size: 1.2em;
	text-align: center;
}
.header-text {
	font-size: 2vw;
	font-family: 'Garamond', Arial, sans-serif;
}
.names {
	font-family: 'Garamond', Arial, sans-serif;
	color: #D19000 !important;
}
.reddot {
	height:1.5em !important;
	margin-top: 0.5em !important;
	margin-left: auto;
margin-right: auto;
}
.plot {
	width:100%;
	min-height: 35em;
}
.center {
	text-align: center;
}
.vcenteralign {
	vertical-align: center;
}
.transbg {
	background-color:transparent !important;
}
.dropdown {
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size:10px;
}
.roundedwrapper {
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 0.5em;
	border: 2px solid;
	border-color: #CED1D4;
}
.paddingtop {
	padding-top: 1em;
}
.paddingright {
	padding-right: 1em;
}
.labels {
	background-color: #ffffff;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size:110%;
}
.label-info {
	background-color: #5bc0de;
}
.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.label-info[href]:hover,
.label-info[href]:focus {
	background-color: #31b0d5;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}
.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	      box-shadow: none;
  opacity: .65;
}
.btn-info {
  color: #fff;
  /*background-color: #5bc0de;*/
  background-color: #00B5E2;
  border-color: #46b8da;
}
.btn-info:hover,
	.btn-info:focus,
	.btn-info.focus,
	.btn-info:active,
	.btn-info.active,
	.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #00A5F2;
  /*background-color: #31b0d5;*/
  border-color: #269abc;
}
.btn-info:active,
	.btn-info.active,
	.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
	.btn-info[disabled],
	fieldset[disabled] .btn-info,
	.btn-info.disabled:hover,
	.btn-info[disabled]:hover,
	fieldset[disabled] .btn-info:hover,
	.btn-info.disabled:focus,
	.btn-info[disabled]:focus,
	fieldset[disabled] .btn-info:focus,
	.btn-info.disabled.focus,
	.btn-info[disabled].focus,
	fieldset[disabled] .btn-info.focus,
	.btn-info.disabled:active,
	.btn-info[disabled]:active,
	fieldset[disabled] .btn-info:active,
	.btn-info.disabled.active,
	.btn-info[disabled].active,
	fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;

}
.btn-sm,
.btn-group-sm > .btn {
	padding: 5px 10px;
	font-size: 1em;
	line-height: 1.5;
	border-radius: 3px;
}
.jumbotron {
  padding: 30px 15px;
  margin-bottom: 2em;
  color: white;
  background-color: #5B6770;
  margin-top:0em;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: 100;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
#logo-canvas {
	width: 25%;
	margin-bottom:1em !important;
	margin-top: 1em !important;
	}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 1em 0;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 2em;
    padding-left: 2em;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 2em;
  }
}
